/* default theme - not well working with site theme
 * TODO - change colors to suit dark background, test monokai */

.highlight .hll { background-color: #ffffcc !important; }
.highlight .c   { color: #999999 !important; } /* Comment */
.highlight .err { color: #aa0000 !important; background-color: #ffaaaa !important; } /* Error */
.highlight .k   { color: #006699 !important; } /* Keyword */
.highlight .o   { color: #999999 !important; } /* Operator */
.highlight .cm  { color: #009f9f !important; font-style: italic !important; } /* Comment.Multiline */
.highlight .cp  { color: #009999 !important; } /* Comment.Preproc */
.highlight .c1  { color: #708090 !important; } /* Comment.Single */
.highlight .cs  { color: #999999 !important; } /* Comment.Special */
.highlight .gd  { background-color: #ffcccc !important; border: 1px solid #cc0000 !important; } /* Generic.Deleted */
.highlight .ge  { font-style: italic !important; } /* Generic.Emph */
.highlight .gr  { color: #ff0000 !important; } /* Generic.Error */
.highlight .gh  { color: #003300 !important; } /* Generic.Heading */
.highlight .gi  { background-color: #ccffcc !important; border: 1px solid #00cc00 !important; } /* Generic.Inserted */
.highlight .go  { color: #aaaaaa !important; } /* Generic.Output */
.highlight .gp  { color: #000099 !important; } /* Generic.Prompt */
.highlight .gs  { } /* Generic.Strong */
.highlight .gu  { color: #003300 !important; } /* Generic.Subheading */
.highlight .gt  { color: #99cc66 !important; } /* Generic.Traceback */
.highlight .kc  { color: #006699 !important; } /* Keyword.Constant */
.highlight .kd  { color: #006699 !important; } /* Keyword.Declaration */
.highlight .kn  { color: #006699 !important; } /* Keyword.Namespace */
.highlight .kp  { color: #006699 !important; } /* Keyword.Pseudo */
.highlight .kr  { color: #006699 !important; } /* Keyword.Reserved */
.highlight .kt  { color: #007788 !important; } /* Keyword.Type */
.highlight .m   { color: #ff6600 !important; } /* Literal.Number */
.highlight .s   { color: #d44950 !important; } /* Literal.String */
.highlight .na  { color: #4f9fcf !important; } /* Name.Attribute */
.highlight .nb  { color: #336666 !important; } /* Name.Builtin */
.highlight .nc  { color: #00aa88 !important; } /* Name.Class */
.highlight .no  { color: #336600 !important; } /* Name.Constant */
.highlight .nd  { color: #9999ff !important; } /* Name.Decorator */
.highlight .ni  { color: #999999 !important; } /* Name.Entity */
.highlight .ne  { color: #cc0000 !important; } /* Name.Exception */
.highlight .nf  { color: #cc00ff !important; } /* Name.Function */
.highlight .nl  { color: #9999ff !important; } /* Name.Label */
.highlight .nx  { color: #cccccc !important; } /* Javascript label */
.highlight .nn  { color: #00ccff !important; } /* Name.Namespace */
.highlight .nt  { color: #2f6f9f !important; } /* Name.Tag */
.highlight .nv  { color: #006666 !important; } /* Name.Variable */
.highlight .ow  { color: #000000 !important; } /* Operator.Word */
.highlight .w   { color: #bbbbbb !important; } /* Text.Whitespace */
.highlight .mf  { color: #ff6600 !important; } /* Literal.Number.Float */
.highlight .mh  { color: #ff6600 !important; } /* Literal.Number.Hex */
.highlight .mi  { color: #ff6600 !important; } /* Literal.Number.Integer */
.highlight .mo  { color: #ff6600 !important; } /* Literal.Number.Oct */
.highlight .sb  { color: #cc3300 !important; } /* Literal.String.Backtick */
.highlight .sc  { color: #cc3300 !important; } /* Literal.String.Char */
.highlight .sd  { color: #cc3300 !important; font-style: italic !important; } /* Literal.String.Doc */
.highlight .s2  { color: #cc3300 !important; } /* Literal.String.Double */
.highlight .se  { color: #cc3300 !important; } /* Literal.String.Escape */
.highlight .sh  { color: #cc3300 !important; } /* Literal.String.Heredoc */
.highlight .si  { color: #aa0000 !important; } /* Literal.String.Interpol */
.highlight .sx  { color: #cc3300 !important; } /* Literal.String.Other */
.highlight .sr  { color: #33aaaa !important; } /* Literal.String.Regex */
.highlight .s1  { color: #cc3300 !important; } /* Literal.String.Single */
.highlight .ss  { color: #ffcc33 !important; } /* Literal.String.Symbol */
.highlight .bp  { color: #336666 !important; } /* Name.Builtin.Pseudo */
.highlight .vc  { color: #003333 !important; } /* Name.Variable.Class */
.highlight .vg  { color: #003333 !important; } /* Name.Variable.Global */
.highlight .vi  { color: #9e5bbc !important; } /* Name.Variable.Instance */
.highlight .il  { color: #ff6600 !important; } /* Literal.Number.Integer.Long */

/* custom vibrant ink theme - mostly for C++ */

.highlight              { color: #ffffff !important } /* default color */
.highlight .brace       { color: #ffffff !important } /* only { and } */
.highlight .op          { color: #ffffff !important } /* operators */
.highlight .op-ol       { color: #f7c527 !important } /* overloaded operators */
.highlight .built-in    { color: #ec691e !important } /* build-in types such as int */
.highlight .keyword     { color: #ec691e !important } /* language keyword */
.highlight .class       { color: #9cf828 !important } /* classes, structs, unions, etc */
.highlight .alias       { color: #9cf828 !important } /* type aliases (typedefs) */
.highlight .namespace   { color: #91e625 !important } /* namespace names */
.highlight .enumerator  { color: #7fff00 !important } /* enum scopes */
.highlight .enum        { color: #408000 !important } /* enum values */
.highlight .const       { color: #868613 !important } /* constants */
.highlight .ext         { color: #ffffff !important } /* extensions and externals */
.highlight .func        { color: #f7c527 !important } /* function/method calls and declarations */
.highlight .global      { color: #ffffff !important } /* global objects/variables */
.highlight .label       { color: #ffffff !important } /* labels (eg jump places in assembly) */
.highlight .var-local   { color: #357a92 !important } /* function-local variables */
.highlight .var-member  { color: #357a8f !important } /* fields - class member variables */
.highlight .var-static  { color: #ffffff !important } /* static objects/variables */
.highlight .param       { color: #408000 !important } /* parameters (to functions) */
.highlight .mutparam    { color: #c86496 !important } /* mutable parameters (passed by non-const reference) */
.highlight .tparam      { color: #ffaf7b !important } /* parameters (to templates) */
.highlight .concept     { color: #ffaf7b !important } /* C++ concept (constrained template)*/
.highlight .problem     { color: #ff0000 !important } /* compiler errors etc */
.highlight .num         { color: #ff4d4d !important } /* numbers */
.highlight .string      { color: #ff4d4d !important } /* hardcoded strings and characters */

.highlight .comm-single     { color: #8136a2 !important } /* single-line comment */
.highlight .comm-multi      { color: #8c3fc8 !important } /* multi-line comment */
.highlight .comm-tag        { color: #800080 !important } /* tags in comments, eg @todo */
.highlight .comm-single-dox { color: #4b71e3 !important } /* Doxygen single-line comment */
.highlight .comm-multi-dox  { color: #4b71e3 !important } /* Doxygen multi-line comment */
.highlight .comm-tag-dox    { color: #4c6073 !important } /* Doxygen tag in comment */

.highlight .prep-direct { color: #ec691e !important } /* includes, imports etc */
.highlight .prep-hdr    { color: #477488 !important } /* names of includes, modules, packages */
.highlight .prep-other  { color: #ffffff !important } /* other preprocessor instructions */
.highlight .macro-def   { color: #f7c527 !important } /* macro definitions */
.highlight .macro-ref   { color: #ffffff !important } /* macro references */

.highlight .asm-direct { color: #ec691e !important } /* directives in assembly */


.css .o,
.css .o + .nt,
.css .nt + .nt { color: #999; }
